/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@800&display=swap');
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: -webkit-gradient(linear, left top, left bottom, from(teal), to(darkorchid));
    background: -o-linear-gradient(teal, darkorchid);
    background: linear-gradient(teal, darkorchid); 
}
h1 {
   font-family: 'BioRhyme Expanded', serif;
   font-size: 200%;
   padding-top: 2%;
   text-align: center;
   color: aqua;
}
.game-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 5px auto 5px auto 5px auto;
  grid-template-columns: repeat(4, auto);
  grid-gap: 5px;
  margin-left: auto;
  padding-top: 12%;
  padding-left: 110%;
  padding-bottom: 0s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.game-info-container {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
p {
  text-align: center;
  font-size: 60px;
}
.card {
  cursor: pointer;
  position: relative;
  height: 120px;
  width: 120px;
  background-color: transparent;
}
.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 12px;
  /* border-width: 1px; */
  /* border-style: solid; */
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.card.flip .card-back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.flip .card-front {
  -webkit-transform: rotateY(0);
          transform: rotateY(0)
}

.back-image {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  -o-transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}

.card-back {
  background-color: black;
  border-color: #FF6D00;
}

.card-front {
  background-color: black;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-value {
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  -o-transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
  -webkit-transform: scale(.9);
      -ms-transform: scale(.9);
          transform: scale(.9);
}

.card-back:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.card-front img {
  width: 120px;
  height: 120px;
}
.card-back img {
  width: 120px;
  height: 140px;
}
/**************************VICTORY SCREENS*************/
#victory-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  display: none;
}
#victory-screen button {
  width: 175px;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: purple;
  color: white;
  margin-top: 50px;
}
/***************TIMER BUTTON***************/
#gameStart {
  position: relative;
  margin-top: 5%;
  left:45%;
  right:20%;
  bottom:5%;
  top:30;
}


/*****************************MEDIA QUERIES**********************/

@media (max-width: 575px) {
  body {
    display:block;
  }
  .main {
    height: 170%;
    width: 170%;
  }
  .game-container {
    width:70%;
    height:70%;
    position: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap:0%;
}
#game-container.game-container{
  width:170px;
  height:170px;
  padding-left:10%;
  padding-right:49% ;
}
.card{
  height:70px;
  width:70px;
}
.card-back img{
  height:70px;
  width:70px;
}
.card-front img {
  height: 90px;
  width: 90px;
}
}
#gameStart {
  position: relative;
  margin-top: 70%;
  left:45%;
  right:85%;
  bottom:5%;
  top:40%;
}
.countdown {
  position: relative;
  margin-top: 80%;
  left: 45%;
  right: 85%;
  bottom: 5%;
  top: 40%;
}

@media (max-width: 991px) and (min-width: 768px)
body {
  display: block;
}
